
/* ----------------------- ROOT VARIABLES-------------------- */

:root {
  --color-primary: #73b0ec;
  --color-danger: #ff7782;
  --color-success: #41f1b6;
  --color-warning: #ffbb55;
  --color-white: #fff;
  --color-info-dark: #7d8da1;
  --color-info-light: #dce1eb;
  --color-dark: #363949;
  --color-light: rgba(132, 139, 200, 0.18);
  --color-primary-variant: #111e88;
  --color-dark-variant: #677483;
  --color-background: #f6f6f9;
  --company-mainColor: #57b952;
  --company-lightColor: #e9ede8;

  --card-border-radius: 2rem;
  --border-radius-1: 0.4rem;
  --border-radius-2: 0.8rem;
  --border-radius-3: 1.2rem;

  --card-padding: 1.8rem;
  --padding-1: 1.2rem;
  --padding-2: 0.6rem;

  --box-shadow: 0 2rem 3rem var(--color-light);
}


/*=======================Product Category====================  */

input[type="checkbox" i] {
    background-color: initial;
    cursor: default;
    appearance: auto;
    box-sizing: border-box;
    margin: 3px 3px 3px 4px;
    padding: initial;
    border: initial;
}

/* ======================= DARK THEME VARIABLES ============== */
.dark-them-variables {
  --color-background: #181a1e;
  --color-white: #202528;
  --color-dark: #edeffd;
  --color-dark-variant: #a3bdcc;
  --color-light: rgba(0, 0, 0, 0.4);
  --box-shadow: 0 2rem 3rem var(--color-light);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins", sans-serif;
  appearance: none;
  outline: none;
  border: 0;
  text-decoration: none;
  list-style: none;
}

html {
  font-size: 14px;
}

body {
  width: 100%;
  height: 100vh;
  font-size: 0.88rem;
  background: var(--color-background);
  user-select: none;
  overflow-x: hidden;
  color: var(--color-dark);
}

a {
  color: var(--color-dark);
}

img {
  display: block;
  width: 100%;
}

h1 {
  font-weight: 800;
  font-size: 1.8rem;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 0.87rem;
}

h4 {
  font-size: 0.8rem;
}

h5 {
  font-size: 0.77rem;
}

small {
  font-size: 0.75rem;
}

p {
  color: var(--color-dark-variant);
}

b {
  color: var(--color-dark);
}
.profile-photo {
  width: 2.8rem;
  height: 2.8rem;
  border-radius: 50%;
  overflow: hidden;
}

.text-muted {
  color: var(--color-info-dark);
}

.primary {
  color: var(--color-primary);
}
.danger {
  color: var(--color-danger);
}
.warning {
  color: var(--color-warning);
}
.success {
  color: var(--color-success);
}

.company-color {
  color: var(--company-mainColor);
}


/* Preloder */

#preloder {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 999999;
  background: #000;
}

.loader {
  width: 40px;
  height: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -13px;
  margin-left: -13px;
  border-radius: 60px;
  animation: loader 0.8s linear infinite;
  -webkit-animation: loader 0.8s linear infinite;
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
  50% {
    -webkit-transform: rotate(180deg);
    border: 4px solid #673ab7;
    border-left-color: transparent;
  }
  100% {
    -webkit-transform: rotate(360deg);
    border: 4px solid #f44336;
    border-left-color: transparent;
  }
}
.close img {
  width: 1.3rem;
}

aside .logo {
  display: flex;
  align-items: center;
}

aside .logo img {
  width: 100%;
  height: auto;
}

aside .logo span {
  font-size: 1.8rem;
  color: var(--color-dark);
  font-weight: 400;
  font-family: "Century Gothic", "Poppins", sans-serif;
}

.container {
  display: grid;
  width: 96%;
  margin: 0 auto;
  gap: 1.8rem;
  grid-template-columns: 12rem auto 14rem;
}

aside {
  height: 100vh;
  width: 100%;
}

aside .top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1.4rem;
}

aside .close {
  display: none;
}

/* side bar */

aside .sidebar {
  display: flex;
  flex-direction: column;
  height: 86vh;
  position: relative;
  top: 3rem;
}

aside h3 {
  font-weight: 500;
}

aside .sidebar a {
  display: flex;
  color: var(--color-info-dark);
  margin-left: 2rem;
  gap: 1rem;
  align-items: center;
  position: relative;
  height: 3.7rem;
  transition: all 300ms ease;
}

aside .sidebar a:last-child {
  position: absolute;
  bottom: 2rem;
  width: 100%;
}

aside .sidebar a span {
  font-size: 1.7rem;
  transition: all 300ms ease;
}

aside .sidebar a.active {
  background: var(--company-lightColor);
  color: var(--company-mainColor);
  margin-left: 0;
}

aside .sidebar a.active::before {
  content: "";
  width: 6px;
  height: 100%;
  background: var(--company-mainColor);
}

aside .sidebar a.active span {
  margin-left: calc(1rem -3px);
}

aside .sidebar a:hover {
  color: var(--company-mainColor);
}

aside .sidebar a:hover span {
  margin-left: 1rem;
}

aside .sidebar .message-count {
  background: var(--color-danger);
  color: var(--color-white);
  padding: 2px 10px;
  font-size: 11px;
  border-radius: var(--border-radius-1);
}

/*  =================== MAIN ================== */

main {
  margin-top: 1.4rem;
  width: 100%;
  height: 100vh;
}

main .date {
  display: inline-block;
  background: transparent;
  border: 2.5px solid var(--company-lightColor);
  border-radius: var(--border-radius-1);
  margin-top: 1rem;
  padding: 0.5rem 0.6rem;
}

main .date input[type="date"] {
  background: transparent;
  color: var(--color-dark);
}

main .products {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.6rem;
}

main .products > div {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  margin-top: 1rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .products > div:hover {
  box-shadow: none;
}

main .products > div span {
  background: var(--color-primary);
  padding: 0.5rem;
  border-radius: 50%;
  color: var(--color-white);
  font-size: 2rem;
}

main .products .product-details{
	margin-top: 20px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: start;
	grid-gap: 10px;
}

main .products .product-details .product-info{
	border: 1px solid var(--color-primary);
	width: 100%;
	padding: var(--padding-2);
	border-radius: var(--border-radius-1)
}

main .products h2 {
  margin: 1rem 0 0.6rem;
  font-size: 1.4rem;
}

main .products .product-samples{
	margin-top: 2rem;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

main .products .product-samples .add-product {
  background: transparent;
  border: 2px dashed var(--color-primary);
  color: var(--color-primary);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
main .products .product-samples .add-product div {
  display: flex;
  align-items: center;
  gap: 0.6rem;
  padding: var(--padding-1);
}

main .products .product-samples .add-product div h3 {
  font-weight: 600;
}

.product-sample-img{
	overflow: hidden;
	background: var(--color-white);
  	padding: var(--card-padding);
  	border-radius: var(--card-border-radius);
 	margin-top: 1rem;
  	box-shadow: var(--box-shadow);
  	transition: all 300ms ease;
  	cursor: pointer;
}

.product-sample-img:hover{
	box-shadow: none;
}
.product-sample-img img{
	max-width: 175px;
	width: 100%;
	object-fit: contain;
}

.submit-btn{
	margin: 4rem auto;
	text-align: center;
	width: 100%;
}

.submit-btn button{
	background: transparent;
	padding: var(--padding-1);
  	border-radius: var(--card-border-radius);
  	background: var(--color-primary);
  	width: 80%;
  	color: #fff;
  	font-weight: bold;
  	font-size: 2rem;
  	transition: transform 300ms ease;
}
.submit-btn button:hover{
	transform: scale(1.07);
}

/*  =================product category select ======================*/

.product-category-container {
  position: relative;
  max-width: 320px;
  width: 100%;
  background: #fff;
  border-radius: 8px;
}

.category-select-btn {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 0 16px;
  border-radius: 8px;
  cursor: pointer;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}

.category-select-btn btn-text {
  font-size: 17px;
  font-weight: 400;
  color: #333;
}

.category-select-btn .arrow-down {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 21px;
  width: 21px;
  background: #6e93f7;
  color: #fff;
  font-size: 14px;
  border-radius: 50%;
  transition: 0.3s;
}

.category-select-btn.open .arrow-down{
    transform: rotate(-180deg);
}


.list-items {
  position: absolute;
  margin-top: 10px;
  background-color: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  padding: 16px;
  border-radius: 8px;
  display: none;
}

.category-select-btn.open ~ .list-items{
    display: block;
}

.list-items .item {
  display: flex;
  align-items: center;
  list-style: none;
  height: 40px;
  padding: 0 15px;
  border-radius: 8px;
  transition: 0.3s;
}

.list-items .item:hover {
  background-color: #e3f2fd;
}
.item input[type="checkbox"] {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 16px;
  width: 16px;
  border: 1.5px solid #408080;
}

.item input[type="text"] {
  outline: none;
  border: 1px solid #e3f2fd;
  height: 30px;
  padding: 0 8px;
  border-radius: 6px;
  color: #333;
  font-size: 14px;
}


.item input[type="text"]::placeholder{
    color: #c0c0c0;
    font-size: 13px;
}

.item .item-text {
  padding-left: 10px;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}

/* ================== RECENT ORDERS ===============*/
main .recent-orders {
  margin-top: 2rem;
}

main .recent-orders h2 {
  margin-bottom: 0.8rem;
}

main .recent-orders table {
  background: var(--color-white);
  width: 100%;
  border-radius: var(--card-border-radius);
  padding: var(--card-padding);
  text-align: left;
  margin-bottom: 2rem;
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

main .recent-orders table:hover {
  box-shadow: none;
}

main table tbody td {
  height: 1.8rem;
  border-bottom: 1px solid var(--company-lightColor);
  color: var(--color-dark-variant);
}

main table tbody tr:last-child td {
  border-bottom: none;
}

main .recent-orders .show-all {
  text-align: center;
  display: block;
  margin: 1rem auto;
  color: var(--color-dark);
}

/* ==================== RIGHT ================ */
.right {
  margin-top: 1.4rem;
  width: 100%;
}

.right .top {
  display: flex;
  justify-content: end;
  gap: 2rem;
  width: 100%;
}

.right .top button {
  display: none;
}

.right .theme-toggler {
  background: var(--color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 1.6rem;
  width: 4.2rem;
  cursor: pointer;
  border-radius: var(--border-radius-1);
}

.right .theme-toggler span {
  font-size: 1.2rem;
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .theme-toggler span.active {
  background: var(--company-mainColor);
  color: #fff;
  border-radius: var(--border-radius-1);
}

.right .top .profile {
  display: flex;
  gap: 2rem;
  text-align: right;
}

.right .recent-updates {
  margin-top: 1rem;
}

.right .recent-updates h2 {
  margin-bottom: 0.8rem;
}

.right .recent-updates .updates {
  background: var(--color-white);
  padding: var(--card-padding);
  border-radius: var(--card-border-radius);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.right .recent-updates .updates:hover {
  box-shadow: none;
}

.right .recent-updates .updates .update {
  display: grid;
  grid-template-columns: 2.6rem auto;
  gap: 1rem;
  margin-bottom: 1rem;
}

/* ===================== SALES ANALYTICS ================ */
.right .sales-analytics {
  margin-top: 2rem;
}

.right .sales-analytics h2 {
  margin-bottom: 0.8rem;
}

.right .sales-analytics .item {
  background: var(--color-white);
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-bottom: 0.7rem;
  padding: 1.4rem var(--card-padding);
  border-radius: var(--border-radius-3);
  box-shadow: var(--box-shadow);
  transition: all 300ms ease;
}

.right .sales-analytics .item:hover {
  box-shadow: none;
}

.right .sales-analytics .item .right {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0;
  width: 100%;
}





/* ================== MEDIA QUERY ================= */

/* ================ Big Tablets & Small Laptops ========= */
@media screen and (max-width: 1200px) {
  .container {
    width: 94%;
    grid-template-columns: 7rem auto 18rem;
  }

  aside .sidebar h3 {
    display: none;
  }

  aside .sidebar a {
    width: 5.6rem;
  }

  aside .sidebar a:last-child {
    position: relative;
    margin-top: 1.8rem;
  }

  aside .logo span {
    display: none;
  }

  main .products {
    grid-template-columns: 1fr;
    gap: 0;
  }

  main .recent-orders {
    width: 94%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin: 2rem 0 0 8.8rem;
  }

  main .recent-orders table {
    width: 83vw;
    text-align: center;
  }

  main table thead tr th:last-child,
  main table thead tr th:first-child {
    display: none;
  }

  main table tbody tr td:last-child,
  main table tbody tr td:first-child {
    display: none;
  }
}

/* ================ Small Tablets & Mobile ========= */

@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
  }

  aside {
    position: fixed;
    left: -100%;
    background: var(--color-white);
    width: 18rem;
    z-index: 3;
    box-shadow: 1rem 3rem 4rem var(--color-light);
    height: 100vh;
    padding-right: var(--card-padding);
    display: none;
    animation: showMenu 400ms ease forwards;
  }

  aside .logo span {
    display: inline;
  }

  @keyframes showMenu {
    to {
      left: 0;
    }
  }
  aside .logo {
    margin-left: 1rem;
  }

  aside .sidebar h3 {
    display: inline;
  }

  aside .sidebar a {
    width: 100%;
    height: 3.4rem;
  }
  aside .sidebar a:last-child {
    position: absolute;
    bottom: 4rem;
  }

  aside .close {
    display: inline-block;
    cursor: pointer;
  }

  main {
    margin-top: 8rem;
    padding: 0 1rem;
  }
  
  main .products .product-details{
  	grid-template-columns: 1fr;
  }
  
  main .products .product-samples{
  	flex-direction: column;
  }
  

  main .recent-orders {
    position: relative;
    margin: 3rem 0 0 0;
    width: 100%;
  }

  main .recent-orders table {
    width: 100%;
    margin: 0;
  }

  .right {
    width: 94%;
    margin: 0 auto 4rem;
  }

  .right .top {
    position: fixed;
    top: 0;
    left: 0;
    align-items: center;
    padding: 0 0.8rem;
    height: 4.6rem;
    background: var(--color-white);
    width: 100%;
    margin: 0;
    z-index: 2;
    box-shadow: 0 1rem 1rem var(--color-light);
  }

  .right .top .theme-toggler {
    width: 4.4rem;
    position: absolute;
    left: 66%;
  }

  .right .profile .info {
    display: none;
  }

  .right .top button {
    display: inline-block;
    background: transparent;
    cursor: pointer;
    color: var(--color-dark);
    position: absolute;
    left: 1rem;
  }

  .right .top button span {
    font-size: 2rem;
  }

  .right .recent-updates {
    position: relative;
    margin-top: 40rem;
  }
}

/*  add product report alert */
.alert{
	display: flex;
	flex-direction: row;
	padding: 15px 20px;
	width: 420px;
	position: absolute;
	right: 0px;
	top: 10px;
	border-radius: 4px;
	
	overflow: hidden;
}

.alert.show{
	animation: show_slide 1s ease forwards;
}

@keyframes show_slide{
	0%{
		transform: translateX(100%);
	}
	40%{
		transform: translateX(-10%);
	}
	80%{
		transform: translateX(0%);
	}
	100%{
		transform: translateX(-10px);
	}
}


	
.alert.hide{
	animation: hide_slide 1s ease forwards;
}

@keyframes hide_slide{
	0%{
		transform: translateX(-10px);
	}
	40%{
		transform: translateX(0%);
	}
	80%{
		transform: translateX(-10%);
	}
	100%{
		transform: translateX(100%);
	}
}



.alert-danger{
	border-left: 4px solid #ce8500;
}

.alert-success{
	border-left: 4px solid #014214;
}

.alert-danger{
	background-color: #ffdb9b;
	font-weight: bolder;
}

.alert-success{
	background: #d6fedf;
	font-weight: bolder;
}

.alert .alert-msg{
	padding: 0 20px;
	font-size: 18px;
}

.alert-danger .alert-msg{
	color: #ce8500;
}

.alert-success .alert-msg{
	color: #014214;
}

.alert .close-alert{
	position: absolute;
	top: 50%;
	right: 0;
	transform: translateY(-50%);
	padding: 20px 18px;
	cursor: pointer;
}

.alert .close-alert:hover{
	opacity: 0.86;
}

.alert-success .close-alert{
	background:  #014214;
}

 .alert-success .close-alert span{
	color: #d6fedf;
	font-size: 22px;
	line-height: 40px;
	user-select: none;
}


.alert-danger .close-alert{
	background-color:  #ce8500;
}

.alert-danger .close-alert span{
	color: #ffdb9b;
	font-size: 22px;
	line-height: 40px;
}